# Distributions generally shouldn't be included in the repo
dist/

# 
node_modules/

# Log files in general
**.log

# Anything marked as a .env should be local
# This is primarily used for Environment variable files
**.local